<header class="d-flex flex-wrap justify-content-between align-items-center py-3 px-5 mb-4 border-bottom shadow">
  <a href="/"><img ngSrc="assets/logo.png" alt="Logo de Fit&Feed" [width]="55" [height]="70"></a>
  <ul class="nav nav-pills">
    @if (AuthService.check()) {
      <li class="nav-item"><a href="/profile" class="nav-link">Mon espace</a></li>
      <li class="nav-item"><a href="/logout" class="nav-link">Me déconnecter</a></li>
    }
    @else {
      <li class="nav-item"><a href="/login" class="nav-link active">M'inscrire</a></li>
      <li class="nav-item"><a href="/login" class="nav-link">Me connecter</a></li>
    }
  </ul>
</header>


